
  @import url('https://fonts.googleapis.com/css2?family=Metal&display=swap');
  
body {background-color:#F3F3F3; font-family: Garamond   !important;}
* {box-sizing: border-box;}

.header fk{}
.search input[type=text]{
  position: relative;
  width:300px;
  height:25px;
  border-radius:25px;
  border: none;
 }

 .search{
float:right;
 margin-inline:-5px;
}
         
.search button{
 background-color: #F3F3F3;
 color:#C6DCE4;
 float: left;
  margin-inline:15px ;
    border: none;
    cursor: pointer;
    height:10%;
 } 

         
.header {
  overflow: hidden;
  background-color: #F3F3F3;
  padding: 20px 10px;
  text-align:center;
 margin-left: 2px;
}

.header a {
  color:#737778;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
margin-left: 1px;
 font-family: 'Megrim', system-ui;
}

.header a.titulli {
  font-size: 45px;
   font-family: 'Megrim', system-ui;
  margin-right:12px;
animation-timeline: view();
  animation: 0.5s slide-right;
      animation-range: 250px 500px;
}

@keyframes slide-right {
  from {
    margin-left: -300px;
  }

  to {
    margin-left: 0%;
  }
}


.header a:hover {
  background-color: none;
  background:linear-gradient(to top right, #737778 0%, #C6DCE4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
margin-left: 1px;
}

.header a.faqjakr {
  color: white;
  text-align: right;
  margin-left: 1px;
}

.header-right {
  float:left;
  margin-left: 1px;

}
  .header-right {
    float: left;
    margin-left: 0.5px;

  }
  
/*-------------Login-------------------*/

.bllokuloginit{float:right;margin-inline: -320px;
width:50%;

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #CDD3D4;
  box-sizing: border-box;
  text-align: center;
  border-radius: 20px;
}

/* Set a style for all buttons */
button {
  background:none;
  color:#737778;
  margin: 12px 10;
  border: 1px #737778;
  cursor: pointer;
  width: 35%;height:30px;
  border-radius:75px;
}

button:hover {
  opacity: 0.8;
  background:#CDD3D4;
  color: white;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 5px 15px;
  background-color: #CDD3D4;
}

/* Center the image and position the close button */
.imgcontainer { 
  text-align: center;
  margin: 37px 0 25px 0;
  position: relative;
  border-radius: 20px;
}

img.avatar {
  width: 40%;
  border-radius: 0%;
}

.container {
  padding: 40px;
  text-align: center;
  font-family: "Megrim";
}

span.psw {
  float: right;
  padding-top: 10px;
  text-align: center;
  color:#737778;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 30px;
  text-align: center;
}


/* Modal Content/Box */
.modal-content {
  text-align: center;
background: linear-gradient(90deg, rgba(186,188,189,1) 0%, rgba(222,222,222,1) 27%, rgba(223,223,223,1) 37%, rgba(235,235,235,1) 50%, rgba(224,224,224,1) 68%, rgba(170,174,175,1) 100%);
  margin: -1% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid#737778;
  width: 25%; /* Could be more or less, depending on screen size */
  
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #737778;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color:  #737778;
  cursor: pointer;
  color:#737778;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 150px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
     margin: 20px;
  }
}}


h2{color:#C6DCE4;
text-align:left;

animation-timeline: view();
  animation: 0.5s slide-right;
      animation-range: 250px 500px;
}

@keyframes slide-right {
  from {
    margin-left: -300px;
  }

  to {
    margin-left: 0%;
  }
}


ul.Meteper {
  padding: 5px 5px;
  list-style: none;
  background: #C6DCE4;

animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 20%;
    width: 90%;
  }

  to {
    margin-left: 0%;
    width: 90%;
  }
}


ul.Meteper li {
  display: inline;
  font-size: 18px;
animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin: 5%;
    width: 100%;
  }

  to {
    margin: 0%;
    width:100%;
  }
}

ul.Meteper li+li:before {
  padding: 10px;
  color: #737778;
  content: "/\00a0";
animation-timeline: view();
  animation: 0.5s slide-right;
      animation-range: 250px 500px;
}

@keyframes slide-right {
  from {
    margin-left: -300px;
  }

  to {
    margin-left: 0%;
  }
}

ul.Meteper li a {
  color: #737778;
  text-decoration: none;
animation-timeline: view();
  animation: 0.5s slide-right;
      animation-range: 250px 500px;
}

@keyframes slide-right {
  from {
    margin-left: -300px;
  }

  to {
    margin-left: 0%;
  }
}

ul.Meteper li a:hover {
  color:#737778;
  background: #FDF0DC
  text-decoration: underline;
  text-shadow: 3px 3px 5px white;
  height:20px;
  border-radius: 40px;
animation-timeline: view();
  animation: 0.5s slide-right;
      animation-range: 250px 500px;
}

@keyframes slide-right {
  from {
    margin-left: -300px;
  }

  to {
    margin-left: 0%;
  }
}




/*------------------------------------------Karta1-floket------------------------------------------------*/

.bllok1, .bllok2, .bllok3{float:left; display:inline; width: 42%; padding:0px; margin-left:-90px}

.bllok1{ display:flex;
  margin-right: -200px ;
 
.wrapper{
  width: 300px;
  height: 500px;
  background:white;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  &:hover{
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }
  
  .container{
    width:100%;
    height:100%;
    .top{
      height: 80%;
      width:100%;
      background: url(Crowlisa.png ) no-repeat center center; 
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

}
    .bottom{
      width: 200%;
      height: 20%;
      transition: transform 0.5s;
      &.clicked{
        transform: translateX(-50%);
      }
      h1{position:absolute;
         top:0px;
        color:white;
        font-size: 20px;
        text-align: left;
        animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 20%;
    width: 90%;
  }

  to {
    margin-left: 0%;
    width: 90%;
  }
}
      p{position:absolute;
         top:50px;
        color:white;
        font-size: 20px;
}

@keyframes slidein {
  from {
    margin-left: 80%;
    width: 90%;
  }

  to {
    margin-left: 0%;
    width: 90%;
  }
}

      .left{
        height:100%;
        width: 50%;
        background: #C6DCE4;
        position:relative;
        float:left;
        .details{
          padding: 20px;
          float: left;
          width: calc(70% - 40px);
}

        .buy{
          float:right;
          width: calc(30% - 2px);
          height:100%;
          background:  #C6DCE4;
          transition: background 0.5s;
          border-left:solid thin rgba(0,0,0,0.1);
          i{
            font-size:30px;
            padding:30px;
            color:  #737778;
            transition: transform 0.5s;
          }
          &:hover{
            background: #737778;
            crusor:pointer;
          }
          &:hover i{
            transform: translateY(5px);
            color: #C6DCE4;
            cursor: pointer;
          }
        }
      }
      .right{
        width: 50%;
        background: white;
        color: #C6DCE4;
        float:right;
        height:200%;
        overflow: hidden;
        .details{
          padding: 20px;
          float: right;
          width: calc(70% - 40px);
        }
        .done{
          width: calc(30% - 2px);
          float:left;
          transition: transform 0.5s;
          border-right:solid thin rgba(255,255,255,0.3);
          height:50%;
          i{
            font-size:30px;
            padding:30px;
            color: #737778;
            crusor:pointer;
          }
        }
        .remove{
          width: calc(30% - 1px);
          clear: both;
          border-right:solid thin rgba(255,255,255,0.3);
          height:50%;
          background:  #C6DCE4;
          transition: transform 0.5s, background 0.5s;
          &:hover{
            background:  #C6DCE4;
          }
          &:hover i{
            transform: translateY(5px);
          }
          i{
            transition: transform 0.5s;
            font-size:30px;
            padding:30px;
            color: #737778;
          }
        }
        &:hover{
          .remove, .done{
            transform: translateY(-100%);
          }
        }
      }
    }
  }
  
  .inside{
    z-index:9;
    background:  #C6DCE4;
    width:140px;
    height:140px;
    position: absolute;
    top: -70px;
    right: -70px;
    border-radius: 0px 0px 200px 200px;
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden;
    .icon{
      position:absolute;
      right:85px;
      top:85px;
      color:#737778 ;
      opacity: 1;
    }
    &:hover{
      width:100%;
      right:0;
      top:0;
      border-radius: 0;
      height:80%;
      .icon{
        opacity: 0;
        right:15px;
        top:15px;
      }
      .contents{
        opacity: 1;
        transform: scale(1);
        transform: translateY(0);
      }
    }
    .contents{
      padding: 5%;
      opacity: 0;
      transform: scale(0.5);
      transform: translateY(-200%);
      transition: opacity 0.2s, transform 0.8s;
      table{
        text-align:left;
        width:100%;
      }
      h1, p, table{
        color: white;
      }
      p{
        font-size:13px;
         }

  to {
    margin-left: 0%;
    width: 90%;
  }
}

    }
  }
}}



@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);
* { box-sizing: border-box; }

.bllok2 {display:inline-flex;
}

  .card {
    width: 650px;
    // height: 375px;
    position: absolute;
    background: white;
    margin: 0 auto;
    top:65%;
    left: 1150px;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: all 0.3s;
    
    &:hover {
      
      box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }
    nav {
      
      width: 100%;
      color: #727272;
      text-transform: uppercase;
      padding: 20px;
      border-bottom: 2px solid #efefef;
      font-size: 12px;
      
      svg.heart {
        
        height: 24px;
        width: 24px;
        float: right;
        margin-top: -3px;
        transition: all 0.3s ease;
        cursor: pointer;
        
        &:hover {
          
          fill: red;
          
        }
        
      }
      svg.arrow {
        
        float: left;
        height: 15px;
        width: 15px;
        margin-right: 10px;
        
      }
      
    }
    
    .photo {
      
      padding: 30px;
      width: 45%;
      text-align: center;
      float: left;
      
      img { 
        max-height: 240px; 
      }
      
    }
    
    .description {
      
       padding: 30px;
       float: left;
       width: 55%;
       border-left: 2px solid #efefef;
       
       h1 {
         color: #737778;
         font-weight: 300;
         padding-top: 15px;
         margin: 0;
         font-size: 30px;
         font-weight: 300;
       animation-duration: 1s;
  animation-name: slidein;
}
     
       h2 {
        text-align:center;
        color: #737778;
        margin: 0;
        text-transform: uppercase;
        font-weight: 500;
       animation-duration: 1s;
  animation-name: slidein;
}
      
       h4 { 
         margin: 0;
         color: #737778;
         text-transform: uppercase;
         font-weight: 500;
         font-size: 12px
 }
      
       p { 
         font-size: 12px; 
         line-height: 20px;
         color: #737778;
         padding: 20px 0;
         margin: 0;
}
      
       button {

         outline: 0;
         border: 0;
         background: none;
         border: 1px solid #737778;
         padding: 8px 0px;
         margin-bottom: 30px;
         color: #737778;
         text-transform: uppercase;
         width: 125px;
         font-family: inherit;
         margin-right: 5px;
         transition: all 0.3s ease;
         font-weight: 500;
         
         &:hover {
           
           // background: darken(white, 2%);
           border: 1px solid  #C6DCE4;
           color:  #C6DCE4;
           cursor: pointer;
           
         }

       }  
    }
  }
}}



@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);
* { box-sizing: border-box; }


.bllok3 {display:flex; float:left; width: 42%; padding:0px; margin-left:-90px;

  .card3 {
    width: 650px;
    // height: 55px;
    position: absolute;
    background: white;
    margin: 0 auto;
    top:1000px;
    left: 1150px;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: all 0.3s;
    
    &:hover {
      
      box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    
    }
    
    nav {
      
      width: 100%;
      color: #727272;
      text-transform: uppercase;
      padding: 10px;
      border-bottom: 2px solid #efefef;
      font-size: 12px;
      
      svg.heart3 {
        
        height: 24px;
        width: 24px;
        float: right;
        margin-top: -3px;
        transition: all 0.3s ease;
        cursor: pointer;
        
        &:hover {
          
          fill: red;
          
        }
        
      }
      svg.arrow3 {
        
        float: left;
        height: 15px;
        width: 15px;
        margin-right: 10px;
        
      }
      
    }
    
    .photo3 {
      
      padding: 30px;
      width: 45%;
      text-align: center;
      float: left;
      
      img { 
        max-height: 240px; 
      }
      
    }
    
    .description3 {
      
       padding: 30px;
       float: left;
       width: 55%;
       border-left: 2px solid #efefef;
       
       h1 {
         color: #737778;
         font-weight: 300;
         padding-top: 15px;
         margin: 0;
         font-size: 30px;
         font-weight: 300;
       }
     
       h2 {text-align: center;
        color: #737778;
        margin: 0;
        text-transform: uppercase;
        font-weight: 500;
       }
      
       h4 { 
         margin: 0;
         color: #737778;
         text-transform: uppercase;
         font-weight: 500;
         font-size: 12px
       }
      
       p { 
         font-size: 12px; 
         line-height: 20px;
         color: #737778;
         padding: 20px 0;
         margin: 0;
      }
      
       button {

         outline: 0;
         border: 0;
         background: none;
         border: 1px solid #737778;
         padding: 8px 0px;
         margin-bottom: 30px;
         color: #737778;
         text-transform: uppercase;
         width: 125px;
         font-family: inherit;
         margin-right: 5px;
         transition: all 0.3s ease;
         font-weight: 500;
         
         &:hover {
           
           // background: darken(white, 2%);
           border: 1px solid  #C6DCE4;
           color:  #C6DCE4;
           cursor: pointer;
           
         }

       }  
    }
  }
}}



@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);
* { box-sizing: border-box; }

.bllok4 {
  
  font-family: "Raleway";
  
  .card4 {
    
    width: 650px;
    // height: 375px;
    position: absolute;
    background: white;
    margin: 0 auto;
    top: 144%;
    left: 26.5%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: all 0.3s;
    
    &:hover {
      
      box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    
    }
    
    nav {
      
      width: 100%;
      color: #727272;
      text-transform: uppercase;
      padding: 20px;
      border-bottom: 2px solid #efefef;
      font-size: 12px;
      
      svg.heart4 {
        
        height: 24px;
        width: 24px;
        float: right;
        margin-top: -3px;
        transition: all 0.3s ease;
        cursor: pointer;
        
        &:hover {
          
          fill: red;
          
        }
        
      }
      svg.arrow4 {
        
        float: left;
        height: 15px;
        width: 15px;
        margin-right: 10px;
        
      }
      
    }
    
    .photo4 {
      position:relative;
      padding: 30px;
      width: 45%;
      height:75%;
      text-align: center;
      float: left;
      
      img { 
        max-height: 240px; 
      }
      
    }
    
    .description4 {
      
       padding: 30px;
       float: left;
       width: 55%;
       border-left: 2px solid #efefef;
       
       h1 {
         color: #737778;
         font-weight: 300;
         padding-top: 15px;
         margin: 0;
         font-size: 30px;
         font-weight: 300;
       }
     
       h2 {text-align: center;
        color: #737778;
        margin: 0;
        text-transform: uppercase;
        font-weight: 500;
       }
      
       h4 { 
         margin: 0;
         color: #737778;
         text-transform: uppercase;
         font-weight: 500;
         font-size: 12px
       }
      
       p { 
         font-size: 12px; 
         line-height: 20px;
         color: #737778;
         padding: 20px 0;
         margin: 0;
      }
      
       button {

         outline: 0;
         border: 0;
         background: none;
         border: 1px solid #737778;
         padding: 8px 0px;
         margin-bottom: 30px;
         color: #737778;
         text-transform: uppercase;
         width: 125px;
         font-family: inherit;
         margin-right: 5px;
         transition: all 0.3s ease;
         font-weight: 500;
         
         &:hover {
           
           // background: darken(white, 2%);
           border: 1px solid  #CDD3D4;
           color:  #CDD3D4;
           cursor: pointer;
           
         }

       }
      
    }
    
  }
  
}

.bllok5{ display:flex;
  margin-right: 650px;padding:10px;
 
.wrapper{
  width: 300px;
  height: 500px;
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  &:hover{
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }
  
  .container{
    width:100%;
    height:100%;
    .top{
      height: 80%;
      width:100%;
      background: url(https://cms-live.pandora.net/resource/responsive-image/2876904/m37-hybrid-plp-hero-module/xs/2/medium-ss24-a-val-giftset-box-03-rgb.jpg) no-repeat center center; 
  -webkit-background-size: 130%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

    .bottom{
      width: 200%;
      height: 20%;
      transition: transform 0.5s;
      &.clicked{
        transform: translateX(-50%);
      }
      h1{position:absolute;
         top:0px;
        color:white;
        font-size: 20px;
        text-align: left;
}
  to {
    margin-left: 0%;
    width: 90%;
  }
}

      p{
         position:absolute;
         top:50px;
        color:white;
        font-size: 20px;
}

      .left{
        height:100%;
        width: 50%;
        background: #C6DCE4;
        position:relative;
        float:left;
        .details{
          padding: 20px;
          float: left;
          width: calc(70% - 40px);
}

        .buy{
          float:right;
          width: calc(30% - 2px);
          height:100%;
          background:  #C6DCE4;
          transition: background 0.5s;
          border-left:solid thin rgba(0,0,0,0.1);
          i{
            font-size:30px;
            padding:30px;
            color:  #737778;
            transition: transform 0.5s;
          }
          &:hover{
            background: #737778;
            crusor:pointer;
          }
          &:hover i{
            transform: translateY(5px);
            color: #C6DCE4;
            cursor: pointer;
          }
        }
      }
      .right{
        width: 50%;
        background: white;
        color: #C6DCE4;
        float:right;
        height:200%;
        overflow: hidden;
        .details{
          padding: 20px;
          float: right;
          width: calc(70% - 40px);
        }
        .done{
          width: calc(30% - 2px);
          float:left;
          transition: transform 0.5s;
          border-right:solid thin rgba(255,255,255,0.3);
          height:50%;
          i{
            font-size:30px;
            padding:30px;
            color: #737778;
            crusor:pointer;
          }
        }
        .remove{
          width: calc(30% - 1px);
          clear: both;
          border-right:solid thin rgba(255,255,255,0.3);
          height:50%;
          background:  #C6DCE4;
          transition: transform 0.5s, background 0.5s;
          &:hover{
            background:  #C6DCE4;
          }
          &:hover i{
            transform: translateY(5px);
          }
          i{
            transition: transform 0.5s;
            font-size:30px;
            padding:30px;
            color: #737778;
          }
        }
        &:hover{
          .remove, .done{
            transform: translateY(-100%);
          }
        }
      }
    }
  }
  
  .inside{
    z-index:9;
    background:  #C6DCE4;
    width:140px;
    height:140px;
    position: absolute;
    top: -70px;
    right: -70px;
    border-radius: 0px 0px 200px 200px;
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden;
    .icon{
      position:absolute;
      right:85px;
      top:85px;
      color:#737778 ;
      opacity: 1;
    }
    &:hover{
      width:100%;
      right:0;
      top:0;
      border-radius: 0;
      height:80%;
      .icon{
        opacity: 0;
        right:15px;
        top:15px;
      }
      .contents{
        opacity: 1;
        transform: scale(1);
        transform: translateY(0);
      }
    }
    .contents{
      padding: 5%;
      opacity: 0;
      transform: scale(0.5);
      transform: translateY(-200%);
      transition: opacity 0.2s, transform 0.8s;
      table{
        text-align:left;
        width:100%;
}

      h1, p, table{
        color: white;
}

  to {
    margin-left: 0%;
    width: 90%;
  }
      p{
        font-size:13px;
      }
              

  }
}}


.kutia{  width: 100%;
  height:820px;
  background-color: #F3F3F3 ;
}


/*----fundi faqes----*/

footer {
  position: relative;
  width: 100%;
  background: #83BBCE;
  min-height: 90px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .social_icon, footer .menu {
  position: relative;
  display: flex;
  justify-content:center;
  align-items:center;
  margin: 10px 0;
}

footer .social_icon li, footer .menu li {
  list-style: none;
}
footer .social_icon li a {
  font-size: 2em;
  color: #ccc;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .social_icon li a:hover {
  transform: translateY(-15px);
  color: blue;
}

footer .menu li a {
  font-size: 1.2em;
  color: #ccc;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}
footer .menu li a:hover {
  opacity: 1;
  color: #fff;
}
p {
  color : #eee;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

/*wave and animation*/
footer .wave {
  position: absolute;
  top: -90px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(ruu.png);
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 0;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0%{
    background-position-x: 1000px; 
  }
  100%{
    background-position-x: 0px; 
  }
}

@keyframes animateWave_02 {
  0%{
    background-position-x: 0px; 
  }
  100%{
    background-position-x: 1000px; 
  }
}
